@model PaginatedList<Contract>

@{
    ViewBag.Title = "Contracts";
}

@section Header{
    <i class="fi-xnluxl-justify-align-thin"></i> Contracts
}


<section id="main">
    <div class="container">
        <form asp-action="Index" method="get">
            <!--ButtonPanel-->
            <section id="buttonPanel">
                <div class="row">
                    <div class="col-12 px-1">
                        <div id="buttonPanel" class="card my-2">
                            <div class="card-header bg-white py-1">
                                <div class="col-12 d-flex flex-nowrap justify-content-center">
                                    <button type="submit" formaction=@Url.Action("Index", "Contracts") formmethod="get" class="scaleIcon btn btn-link text-success p-0 mr-1"
                                            data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Filter contracts">
                                        <i class="fi-xtlux2-funnel"></i>
                                    </button>
                                    <a asp-action="Index" class="scaleIcon btn btn-link p-0 text-primary mr-1"
                                       data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Reset filters">
                                        <i class="fi-xnpuh2-funnel"></i>
                                    </a>
                                    <button type="submit" formaction=@Url.Action("Export", "Contracts") formmethod="get"
                                            data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Download a report to Excell"
                                            class="btn btn-link text-success p-0 mr-1 scaleIcon">
                                        <i class="fi-xtlux2-download"></i>
                                    </button>
                                    <a asp-action="ShowCharts" class="scaleIcon btn btn-link p-0 text-primary mr-1 chartButton"
                                       data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Show charts">
                                        <i class="fi-xnluh2-bar-chart"></i>
                                    </a>
                                    @if (User.Claims.Select(c => c.Value).ToList().Contains("ContractStaff"))
                                    {
                                        <a asp-action="Create" class="scaleIcon btn btn-link p-0 text-warning mr-1" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Add a new contract"> <i class="fi-xnlux2-plus"></i></a>
                                    }
                                    <div class="dropdown show align-self-center">
                                        <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <button class="scaleIcon btn btn-link p-0 text-primary" asp-action="Index" role="button" id="dropdownMenuLink"
                                                    data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Sort records">
                                                <i class="fi-xnlux2-sort"></i>
                                            </button>
                                        </span>
                                        <div class="dropdown-menu mt-3 p-md-1 dropDownLink" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item text-primary mb-md-1
                                           @((Model.SortModel.CurrentSort=="ConclusionDate"||String.IsNullOrEmpty(Model.SortModel.CurrentSort)?"active":""))"
                                               asp-action="Index" asp-route-sortOrder="@Model.SortModel.ConclusionDateSortParm"
                                               asp-route-currentFilterNumber="@Model.SearchModel.ContractNumber"
                                               asp-route-currentFilterType="@Model.SearchModel.ContractType"
                                               asp-route-currentFilterAmountFrom="@Model.SearchModel.ContractAmountFrom"
                                               asp-route-currentFilterAmountTo="@Model.SearchModel.ContractAmountTo"
                                               asp-route-currentFilterConclusionDateFrom="@Model.SearchModel.ConclusionDateFrom"
                                               asp-route-currentFilterConclusionDateTo="@Model.SearchModel.ConclusionDateTo"
                                               asp-route-currentFilterExpirationDateFrom="@Model.SearchModel.ExpirationDateFrom"
                                               asp-route-currentFilterExpirationDateTo="@Model.SearchModel.ExpirationDateTo"
                                               asp-route-currentFilterSupplier="@Model.SearchModel.NameCodeSupplierSearch"
                                               asp-route-currentFilterBranch="@Model.SearchModel.NameBranchSearch"
                                               asp-route-currentFilterContractStatusID="@Model.SearchModel.PastContractStatusID"
                                               asp-route-currentFilterCourtDispute="@Model.SearchModel.CourtDisputeSearch">
                                                Conclusion Date @(String.IsNullOrEmpty(Model.SortModel.CurrentSort)|| Model.SortModel.CurrentSort== "ConclusionDate" ? (String.IsNullOrEmpty(Model.SortModel.CurrentSort) ? @Html.Raw("&#x25be;") : @Html.Raw("&#x25b4;")) : @Html.Raw("&#x25b4;&#x25be;"))
                                            </a>
                                            <a class="dropdown-item text-primary mb-md-1
                                           @((Model.SortModel.CurrentSort=="ContractAmount"||Model.SortModel.CurrentSort=="ContractAmount_desc"?"active":""))"
                                               asp-action="Index" asp-route-sortOrder="@Model.SortModel.ContractAmountSortParm"
                                               asp-route-currentFilterNumber="@Model.SearchModel.ContractNumber"
                                               asp-route-currentFilterType="@Model.SearchModel.ContractType"
                                               asp-route-currentFilterAmountFrom="@Model.SearchModel.ContractAmountFrom"
                                               asp-route-currentFilterAmountTo="@Model.SearchModel.ContractAmountTo"
                                               asp-route-currentFilterConclusionDateFrom="@Model.SearchModel.ConclusionDateFrom"
                                               asp-route-currentFilterConclusionDateTo="@Model.SearchModel.ConclusionDateTo"
                                               asp-route-currentFilterExpirationDateFrom="@Model.SearchModel.ExpirationDateFrom"
                                               asp-route-currentFilterExpirationDateTo="@Model.SearchModel.ExpirationDateTo"
                                               asp-route-currentFilterSupplier="@Model.SearchModel.NameCodeSupplierSearch"
                                               asp-route-currentFilterBranch="@Model.SearchModel.NameBranchSearch"
                                               asp-route-currentFilterContractStatusID="@Model.SearchModel.PastContractStatusID"
                                               asp-route-currentFilterCourtDispute="@Model.SearchModel.CourtDisputeSearch">
                                                Contract Amount
                                                @(Model.SortModel.CurrentSort== "ContractAmount" || Model.SortModel.CurrentSort== "ContractAmount_desc" ? (Model.SortModel.CurrentSort== "ContractAmount" ? @Html.Raw("&#x25b4;") : Html.Raw("&#x25be;")) : @Html.Raw("&#x25b4;&#x25be;"))
                                            </a>
                                            <a class="dropdown-item text-primary mb-md-1
                                               @((Model.SortModel.CurrentSort=="SupplierName"||Model.SortModel.CurrentSort=="SupplierName_desc"?"active":""))"
                                               asp-action="Index" asp-route-sortOrder="@Model.SortModel.SupplierNameSortParm"
                                               asp-route-currentFilterNumber="@Model.SearchModel.ContractNumber"
                                               asp-route-currentFilterType="@Model.SearchModel.ContractType"
                                               asp-route-currentFilterAmountFrom="@Model.SearchModel.ContractAmountFrom"
                                               asp-route-currentFilterAmountTo="@Model.SearchModel.ContractAmountTo"
                                               asp-route-currentFilterConclusionDateFrom="@Model.SearchModel.ConclusionDateFrom"
                                               asp-route-currentFilterConclusionDateTo="@Model.SearchModel.ConclusionDateTo"
                                               asp-route-currentFilterExpirationDateFrom="@Model.SearchModel.ExpirationDateFrom"
                                               asp-route-currentFilterExpirationDateTo="@Model.SearchModel.ExpirationDateTo"
                                               asp-route-currentFilterSupplier="@Model.SearchModel.NameCodeSupplierSearch"
                                               asp-route-currentFilterBranch="@Model.SearchModel.NameBranchSearch"
                                               asp-route-currentFilterCourtDispute="@Model.SearchModel.CourtDisputeSearch"
                                               asp-route-currentFilterContractStatusID="@Model.SearchModel.PastContractStatusID">
                                                Supplier Name
                                                @(Model.SortModel.CurrentSort== "SupplierName" || Model.SortModel.CurrentSort== "SupplierName_desc" ? (Model.SortModel.CurrentSort== "SupplierName" ? @Html.Raw("&#x25b4;") : @Html.Raw("&#x25be;")) : @Html.Raw("&#x25b4;&#x25be;"))
                                            </a>
                                            <a class="dropdown-item text-primary
                                               @((Model.SortModel.CurrentSort=="BranchName"||Model.SortModel.CurrentSort=="BranchName_desc"?"active":""))"
                                               asp-action="Index" asp-route-sortOrder="@Model.SortModel.BranchNameSortParm"
                                               asp-route-currentFilterNumber="@Model.SearchModel.ContractNumber"
                                               asp-route-currentFilterType="@Model.SearchModel.ContractType"
                                               asp-route-currentFilterAmountFrom="@Model.SearchModel.ContractAmountFrom"
                                               asp-route-currentFilterAmountTo="@Model.SearchModel.ContractAmountTo"
                                               asp-route-currentFilterConclusionDateFrom="@Model.SearchModel.ConclusionDateFrom"
                                               asp-route-currentFilterConclusionDateTo="@Model.SearchModel.ConclusionDateTo"
                                               asp-route-currentFilterExpirationDateFrom="@Model.SearchModel.ExpirationDateFrom"
                                               asp-route-currentFilterExpirationDateTo="@Model.SearchModel.ExpirationDateTo"
                                               asp-route-currentFilterSupplier="@Model.SearchModel.NameCodeSupplierSearch"
                                               asp-route-currentFilterBranch="@Model.SearchModel.NameBranchSearch"
                                               asp-route-currentFilterCourtDispute="@Model.SearchModel.CourtDisputeSearch"
                                               asp-route-currentFilterContractStatusID="@Model.SearchModel.PastContractStatusID">
                                                Branch Name
                                                @(Model.SortModel.CurrentSort== "BranchName" || Model.SortModel.CurrentSort== "BranchName_desc" ? (Model.SortModel.CurrentSort== "BranchName" ? @Html.Raw("&#x25b4;") : @Html.Raw("&#x25be;")) : @Html.Raw("&#x25b4;&#x25be;"))
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="row">
                <!-- Filters -->
                <div id="filters" class="col-lg-3 px-1 mb-md-2">
                    <div class="card text-white bodyCreate px-3 pt-3 pb-0">
                        <div class="form-row text-md-center text-lg-left mb-4">
                            <div class="col text-md-center text-lg-left">
                                <div class="text-white ml-3">@Html.DisplayFor(model => model.CountRecords) records were found</div>
                            </div>
                        </div>
                        <div class="form-row justify-content-md-around">
                            <div class="col-md-5 mb-4 col-lg-12 text-md-center text-lg-left">
                                <div class="custom-control custom-radio custom-control-inline ml-3">
                                    @Html.RadioButtonFor(model => model.SearchModel.ContractType, "currentContracts", htmlAttributes: new { @class = "custom-control-input", @id = "1", @value = "@Model.SearchModel.ContractType" })
                                    <label class="custom-control-label" for="1">Current Contracts</label>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-12 mb-4 text-md-center text-lg-left">
                                <div class="custom-control custom-radio custom-control-inline ml-3">
                                    @Html.RadioButtonFor(model => model.SearchModel.ContractType, "pastContracts", htmlAttributes: new { @class = "custom-control-input", @id = "2", @value = "@Model.SearchModel.ContractType" })
                                    <label class="custom-control-label" for="2">Past Contracts</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row justify-content-md-around">
                            <div class="form-group col-lg-12 col-md-5 whiteLink px-1 pb-1 mb-1
                                 text-md-center text-lg-left">
                                <label asp-for="SearchModel.ContractNumber">
                                    <a class="btn btn-link text-white dropdown-toggle" data-toggle="collapse" href="#collapseInputNumber" role="button" aria-expanded="false">Contract Number</a>
                                </label>
                                <input id="collapseInputNumber" type="text" asp-for="SearchModel.ContractNumber" value="@Model.SearchModel.ContractNumber" class="form-control text-primary collapse @((Model.SearchModel.ContractNumber!=null)?"show":"")" placeholder="All">
                            </div>
                            <div class="form-group col-lg-12 col-md-5 text-lg-left text-md-center  px-1 pb-1 mb-1 whiteLink">
                                <label asp-for="SearchModel.ContractAmountFrom"><a class="btn btn-link text-white dropdown-toggle" data-toggle="collapse" href="#collapseInputAmount" role="button" aria-expanded="false">Contract Amount (UAH)</a></label>
                                <div id="collapseInputAmount" class="input-group collapse  @((Model.SearchModel.ContractAmountFrom!=default||Model.SearchModel.ContractAmountTo!=default)?"show":"")">
                                    <input asp-for="SearchModel.ContractAmountFrom" type="text" data-toggle="tooltip"
                                           data-placement="top" title="Set valid values: interger or decimal with 2 decimal places and dot separator"
                                           class="form-control text-primary enabledTooltipOnTouch" placeholder="All">
                                    <input asp-for="SearchModel.ContractAmountTo" type="text" class="form-control text-primary enabledTooltipOnTouch"
                                           data-toggle="tooltip"
                                           data-placement="top" title="Set valid values: interger or decimal with 1 or 2 decimal places and dot separator" placeholder="All">
                                </div>
                                <span asp-validation-for="SearchModel.ContractAmountFrom" class="text-danger"></span>
                                <span asp-validation-for="SearchModel.ContractAmountTo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row justify-content-md-around">
                            <div class="form-group col-lg-12 col-md-5 whiteLink px-1 pb-1 mb-1 text-md-center text-lg-left">
                                <label for="#collapseInputConclusionDate"><a class="btn btn-link text-white dropdown-toggle" data-toggle="collapse" href="#collapseInputConclusionDate" role="button" aria-expanded="false">Contract Conclusion Date</a></label>
                                <div id="collapseInputConclusionDate" class="input-group collapse  @((Model.SearchModel.ConclusionDateFrom!=default||Model.SearchModel.ConclusionDateTo!=default)?"show":"")">
                                    <input type="date" asp-for="SearchModel.ConclusionDateFrom" class=" form-control p-2 text-primary">
                                    <input type="date" asp-for="SearchModel.ConclusionDateTo" class=" form-control p-2 text-primary">
                                </div>
                            </div>
                            <div class="form-group col-md-5 col-lg-12 px-1 pb-1 mb-1 whiteLink text-md-center text-lg-left">
                                <label for="#collapseInputExpirationDate"><a class="btn btn-link text-white dropdown-toggle" data-toggle="collapse" href="#collapseInputExpirationDate" role="button" aria-expanded="false">Contract Expiration Date</a></label>
                                <div id="collapseInputExpirationDate" class="input-group collapse  @((Model.SearchModel.ExpirationDateFrom!=default||Model.SearchModel.ExpirationDateTo!=default)?"show":"")">
                                    <input type="date" asp-for="SearchModel.ExpirationDateFrom" class="form-control p-2 text-primary">
                                    <input type="date" asp-for="SearchModel.ExpirationDateTo" class="form-control p-2 text-primary">
                                </div>
                            </div>
                        </div>

                        <div class="form-row justify-content-md-around">
                            <div class="form-group col-lg-12 col-md-5 text-md-center text-lg-left px-1 pb-1 mb-1 whiteLink">
                                <label asp-for="SearchModel.NameCodeSupplierSearch">
                                    <a class="btn btn-link text-white dropdown-toggle" data-toggle="collapse" href="#collapseInputSupplier" role="button" aria-expanded="false">Supplier Name or LC</a>
                                </label>
                                <input id="collapseInputSupplier" type="text" asp-for="SearchModel.NameCodeSupplierSearch" class="form-control text-primary collapse @((Model.SearchModel.NameCodeSupplierSearch!=null)?"show":"")" placeholder="All">
                            </div>
                            <div class="form-group col-md-5 col-lg-12 pb-1 text-md-center text-lg-left mb-1 whiteLink">
                                <label asp-for="SearchModel.NameBranchSearch"><a class="btn btn-link text-white dropdown-toggle" data-toggle="collapse" href="#collapseInputBranch" role="button" aria-expanded="false">Branch Name or BC</a></label>
                                <input id="collapseInputBranch" type="text" asp-for="SearchModel.NameBranchSearch" class="form-control text-primary collapse @((Model.SearchModel.NameBranchSearch!=null)?"show":"")" placeholder="All">
                            </div>
                        </div>
                        @if (Model.SearchModel.ContractType == "currentContracts")
                        {
                            <div class="form-row">
                                <div class="col text-md-center mb-1 text-lg-left">
                                    <fieldset>
                                        <legend class="whiteLink">
                                            <a class="btn btn-link text-white dropdown-toggle" data-toggle="collapse" href="#collapseInputCourt" role="button" aria-expanded="false">Court Disputes</a>
                                        </legend>
                                        <div id="collapseInputCourt" class="collapse @((Model.SearchModel.CourtDisputeSearch != "includeCourtDispute") ? "show" : "")">
                                            <div class="form-row justify-content-md-around justify-content-lg-start">
                                                <div class="custom-control custom-radio custom-control-inline mb-4 ml-3">
                                                    @Html.RadioButtonFor(model => model.SearchModel.CourtDisputeSearch, "includeCourtDispute", htmlAttributes: new { @class = "custom-control-input", @id = "4", @value = "@Model.SearchModel.CourtDisputeSearch" })
                                                    <label class="custom-control-label text-white" for="4">Including with Court Disputes</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline mb-4 ml-3">
                                                    @Html.RadioButtonFor(model => model.SearchModel.CourtDisputeSearch, "onlyWithCourtDisputes", htmlAttributes: new { @class = "custom-control-input", @id = "5", @value = "@Model.SearchModel.CourtDisputeSearch" })
                                                    <label class="custom-control-label text-white" for="5">Only with Court Disputes</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline mb-4 ml-3">
                                                    @Html.RadioButtonFor(model => model.SearchModel.CourtDisputeSearch, "excludeCourtDisputes", htmlAttributes: new { @class = "custom-control-input", @id = "6", @value = "@Model.SearchModel.CourtDisputeSearch" })
                                                    <label class="custom-control-label text-white" for="6">Excluding with Court Disputes</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        }
                        else
                        {
                                <fieldset class="mb-1">
                                    <legend class="whiteLink text-md-center text-lg-left">
                                        <a class="btn btn-link text-white dropdown-toggle" data-toggle="collapse" href="#collapseInputStatus" role="button" aria-expanded="false">Past Contract Statuses</a>
                                    </legend>
                                    <div id="collapseInputStatus" class="collapse @((Model.SearchModel.PastContractStatusID != default) ? "show" : "") form-group col text-md-center text-lg-left px-1 pb-1 mb-1 whiteLink">
                                        <div class="form-row justify-content-md-around justify-content-lg-start">
                                            <div class="custom-control custom-radio custom-control-inline mb-4 mx-3">
                                                @Html.RadioButtonFor(model => model.SearchModel.PastContractStatusID, 0, htmlAttributes: new { @class = "custom-control-input", @id = 10000 })
                                                <label class="custom-control-label" for=10000>All</label>
                                            </div>
                                            @for (int i = 0; i < Model.SearchModel.PastContractStatuses.Count(); i++)
                                            {
                                                <div class="custom-control custom-radio custom-control-inline mb-4 ml-3">
                                                    @Html.RadioButtonFor(model => model.SearchModel.PastContractStatusID, Model.SearchModel.PastContractStatuses[i].ID, htmlAttributes: new { @class = "custom-control-input", @id = i + 1000 })
                                                    <label class="custom-control-label" for=@(i+1000)>@Model.SearchModel.PastContractStatuses[i].Name</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </fieldset>
                        }
                    </div>
                </div>

                <!--Contracts-->
                <div class="col-lg-9 px-1 mt-2 mt-md-0">
                    <div class="d-flex flex-column">
                        @foreach (var contract in Model)
                        {
                            <div class="card card-body shadowBox
                                 text-primary px-3 pt-3 pb-1 mb-2">
                                <div class="row">
                                    <div class="col-md-6 text-justify orangeLink">
                                        <a class="px-1 mb-2 d-block lead font-weight-bold" asp-action="Details" asp-route-id="@contract.ID" asp-route-contractStatus="@contract.ContractStatus.Name">@Html.DisplayFor(modelItem => contract.ContractNumber)</a>
                                        <div class="px-1 mb-1 d-block text-justify orangeLink">
                                            @if (@contract.Subject.Length > 100)
                                            {
                                                @contract.Subject.Substring(0, 100)
                                                <a tabindex="0" class="btn btn-link text-muted mb-1 p-0 px-1"
                                                   role="button" data-toggle="popover" data-trigger="focus" data-content="@contract.Subject">... More</a>
                                            }
                                            else
                                            {
                                                @contract.Subject
                                            }
                                        </div>
                                        <a asp-controller="Suppliers" asp-action="Details" asp-route-id="@contract.SupplierID"
                                           class="px-1 mb-2 d-block text-justify">
                                            <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => contract.Supplier):</span>
                                            @Html.DisplayFor(modelItem => contract.Supplier.Name)
                                            <i class="fi-ctluxx-info"></i>
                                        </a>
                                        <a asp-controller="Branches" asp-action="Details"
                                           asp-route-id="@contract.BranchID"
                                           class="px-1 mb-2 mb-md-1 d-block text-justify">
                                            <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => contract.Branch):</span>
                                            @Html.DisplayFor(modelItem => contract.Branch.Name)
                                            <i class="fi-ctluxx-info"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12 px-3 text-center mb-2 whiteLink">
                                            <h4>
                                                <a asp-action=@(contract.ContractStatus.Name=="Current"?"Edit":"Details") asp-route-id="@contract.ID"
                                                   class="scaleBlueButton badge font-weight-light bodyCreate p-2 text-uppercase" style="width: 100%;">
                                                    @Html.DisplayFor(modelItem => contract.ContractStatus.Name)
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="col-md-12 px-1 font-weight-bold">@Html.DisplayNameFor(modelItem => contract.ContractAmount) (UAH):</div>
                                        <div class="col-md-12 px-1 mb-2 text-justify lead font-weight-normal"> @Html.DisplayFor(modelItem => contract.ContractAmount) </div>
                                        <div class="col-md-12 px-1 font-weight-bold">
                                            Duration:
                                        </div>
                                        <div class="col-md-12 px-1">
                                            from @Html.DisplayFor(modelItem => contract.ConclusionDate)
                                            to
                                            @if (contract.ExpirationDate < DateTime.Now && contract.ContractStatus.Name == "Current"
&& contract.IsCourtDispute == false)
                                            {
                                                <span data-toggle="tooltip" data-placement="top" title="Please consider changing contract status" class="text-warning enabledTooltipOnTouch">@Html.DisplayFor(modelItem => contract.ExpirationDate) <i class="fi-ctluxx-warning-thin"></i></span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => contract.ExpirationDate)
                                            }
                                        </div>
                                        @if (contract.IsCourtDispute == true)
                                        {
                                            <div class="col-md-12 p-1 text-warning">
                                                <i class="fi-ctluxx-gavel-thin"></i> Court Dispute
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- PAGINATION -->
                    @{
                        string prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        string nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }


                    <div class="row justify-content-center mb-4">
                        <nav class="ml-3">
                            <ul class="pagination pagination-sm">
                                <li class="page-item @prevDisabled">
                                    <a asp-action="Index"
                                       asp-route-pageNumber="@(Model.PageIndex-1)" asp-route-sortOrder="@Model.SortModel.CurrentSort"
                                       asp-route-currentFilterNumber="@Model.SearchModel.ContractNumber"
                                       asp-route-currentFilterType="@Model.SearchModel.ContractType"
                                       asp-route-currentFilterAmountFrom="@Model.SearchModel.ContractAmountFrom"
                                       asp-route-currentFilterAmountTo="@Model.SearchModel.ContractAmountTo"
                                       asp-route-currentFilterConclusionDateFrom="@Model.SearchModel.ConclusionDateFrom"
                                       asp-route-currentFilterConclusionDateTo="@Model.SearchModel.ConclusionDateTo"
                                       asp-route-currentFilterExpirationDateFrom="@Model.SearchModel.ExpirationDateFrom"
                                       asp-route-currentFilterExpirationDateTo="@Model.SearchModel.ExpirationDateTo"
                                       asp-route-currentFilterSupplier="@Model.SearchModel.NameCodeSupplierSearch"
                                       asp-route-currentFilterBranch="@Model.SearchModel.NameBranchSearch"
                                       asp-route-currentFilterContractStatusID="@Model.SearchModel.PastContractStatusID"
                                       asp-route-currentFilterCourtDispute="@Model.SearchModel.CourtDisputeSearch"
                                       class="page-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                        </svg>
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="@(i==Model.PageIndex ? "page-item active":"page-item")">
                                        <a class="page-link" href="@Url.Action("Index",new {pageNumber=i, sortOrder=Model.SortModel.CurrentSort,
                                                                  currentFilterNumber=Model.SearchModel.ContractNumber,
                                      currentFilterType=Model.SearchModel.ContractType,
                                       currentFilterAmountFrom=Model.SearchModel.ContractAmountFrom,
                                      currentFilterAmountTo= Model.SearchModel.ContractAmountTo,
                                       currentFilterConclusionDateFrom=Model.SearchModel.ConclusionDateFrom,
                                       currentFilterConclusionDateTo=Model.SearchModel.ConclusionDateTo,
                                       currentFilterExpirationDateFrom=Model.SearchModel.ExpirationDateFrom,
                                       currentFilterExpirationDateTo=Model.SearchModel.ExpirationDateTo,
                                       currentFilterContractStatusID=Model.SearchModel.PastContractStatusID,
                                       currentFilterSupplier=Model.SearchModel.NameCodeSupplierSearch,
                                       currentFilterBranch=Model.SearchModel.NameBranchSearch,
                                       currentFilterCourtDispute=Model.SearchModel.CourtDisputeSearch})">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li class="page-item  @nextDisabled">
                                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" asp-route-sortOrder="@Model.SortModel.CurrentSort"
                                       asp-route-currentFilterNumber="@Model.SearchModel.ContractNumber"
                                       asp-route-currentFilterType="@Model.SearchModel.ContractType"
                                       asp-route-currentFilterAmountFrom="@Model.SearchModel.ContractAmountFrom"
                                       asp-route-currentFilterAmountTo="@Model.SearchModel.ContractAmountTo"
                                       asp-route-currentFilterConclusionDateFrom="@Model.SearchModel.ConclusionDateFrom"
                                       asp-route-currentFilterConclusionDateTo="@Model.SearchModel.ConclusionDateTo"
                                       asp-route-currentFilterExpirationDateFrom="@Model.SearchModel.ExpirationDateFrom"
                                       asp-route-currentFilterExpirationDateTo="@Model.SearchModel.ExpirationDateTo"
                                       asp-route-currentFilterContractStatusID="@Model.SearchModel.PastContractStatusID"
                                       asp-route-currentFilterSupplier="@Model.SearchModel.NameCodeSupplierSearch"
                                       asp-route-currentFilterBranch="@Model.SearchModel.NameBranchSearch"
                                       asp-route-currentFilterCourtDispute="@Model.SearchModel.CourtDisputeSearch"
                                       class="page-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>




